In [26]:
# Import packages:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
#warnings.filterwarnings('ignore')
import tqdm
import time


# Define function to get the data from the website: BoligPortal 
# Define our url to scrape from:
url1 = 'https://www.boligportal.dk/lejeboliger/?min_rental_period=0&offset=0' # når vi går videre, kan man bladre i sider, ved at ændre offset i url'en med en faktor af 18, da der er 18 boliger pr. side.

# Connect to site:
response = requests.get(url1, headers={'name':'Jesper Højberg Knudsen','email':'fmw786@econ.ku.dk'})

# parse data with BeautifulSoup:
soup = BeautifulSoup(response.content, 'lxml')

# Find links to the individual ads:
links = soup.find_all('a', class_='AdCardSrp__Link css-17x8ssx')

In [27]:
# Make a list of URLs:
# Create empty list:
url_list = []

# Create a list of URLs:
for i in range(len(links)):
    url_list.append(links[i]['href'])

url_list

['/lejligheder/odense/76m2-3-vaer-id-5278333',
 '/lejligheder/aarhus/50m2-2-vaer-id-5275388',
 '/lejligheder/odense/76m2-3-vaer-id-5285392',
 '/lejligheder/odder/75m2-3-vaer-id-5180847',
 '/lejligheder/hobro/41m2-2-vaer-id-5179569',
 '/lejligheder/k%C3%B8benhavn/83m2-3-vaer-id-5359257',
 '/r%C3%A6kkehuse/vejle/95m2-3-vaer-id-5285053',
 '/lejligheder/herning/40m2-1-vaer-id-5378005',
 '/lejligheder/aabenraa/100m2-3-vaer-id-5245881',
 '/v%C3%A6relser/aalborg/9m2-1-vaer-id-5377735',
 '/lejligheder/silkeborg/93m2-3-vaer-id-4850891',
 '/lejligheder/kolding/68m2-2-vaer-id-4187819',
 '/lejligheder/aarhus/92m2-1-vaer-id-4718214',
 '/lejligheder/aarhus/71m2-2-vaer-id-5378065',
 '/lejligheder/aalborg/85m2-4-vaer-id-5378064',
 '/lejligheder/give/78m2-3-vaer-id-5197365',
 '/lejligheder/oure/60m2-2-vaer-id-5378062',
 '/lejligheder/hirtshals/65m2-2-vaer-id-5378060',
 '/huse/haslev/237m2-5-vaer-id-5243158',
 '/lejligheder/aarhus/54m2-2-vaer-id-5360842',
 '/lejligheder/aarhus/41m2-2-vaer-id-5377903',
 '/lejligheder/nyk%C3%B8bing-m/51m2-2-vaer-id-5339392',
 '/lejligheder/aarhus/66m2-2-vaer-id-4487809',
 '/r%C3%A6kkehuse/aarhus/18m2-1-vaer-id-5376196']

In [28]:
# Make final list of working URLs:
final_urls = []

for url in url_list:
    temp_url = 'https://www.boligportal.dk' + url
    final_urls.append(temp_url)

final_urls

['https://www.boligportal.dk/lejligheder/odense/76m2-3-vaer-id-5278333',
 'https://www.boligportal.dk/lejligheder/aarhus/50m2-2-vaer-id-5275388',
 'https://www.boligportal.dk/lejligheder/odense/76m2-3-vaer-id-5285392',
 'https://www.boligportal.dk/lejligheder/odder/75m2-3-vaer-id-5180847',
 'https://www.boligportal.dk/lejligheder/hobro/41m2-2-vaer-id-5179569',
 'https://www.boligportal.dk/lejligheder/k%C3%B8benhavn/83m2-3-vaer-id-5359257',
 'https://www.boligportal.dk/r%C3%A6kkehuse/vejle/95m2-3-vaer-id-5285053',
 'https://www.boligportal.dk/lejligheder/herning/40m2-1-vaer-id-5378005',
 'https://www.boligportal.dk/lejligheder/aabenraa/100m2-3-vaer-id-5245881',
 'https://www.boligportal.dk/v%C3%A6relser/aalborg/9m2-1-vaer-id-5377735',
 'https://www.boligportal.dk/lejligheder/silkeborg/93m2-3-vaer-id-4850891',
 'https://www.boligportal.dk/lejligheder/kolding/68m2-2-vaer-id-4187819',
 'https://www.boligportal.dk/lejligheder/aarhus/92m2-1-vaer-id-4718214',
 'https://www.boligportal.dk/lejligheder/aarhus/71m2-2-vaer-id-5378065',
 'https://www.boligportal.dk/lejligheder/aalborg/85m2-4-vaer-id-5378064',
 'https://www.boligportal.dk/lejligheder/give/78m2-3-vaer-id-5197365',
 'https://www.boligportal.dk/lejligheder/oure/60m2-2-vaer-id-5378062',
 'https://www.boligportal.dk/lejligheder/hirtshals/65m2-2-vaer-id-5378060',
 'https://www.boligportal.dk/huse/haslev/237m2-5-vaer-id-5243158',
 'https://www.boligportal.dk/lejligheder/aarhus/54m2-2-vaer-id-5360842',
 'https://www.boligportal.dk/lejligheder/aarhus/41m2-2-vaer-id-5377903',
 'https://www.boligportal.dk/lejligheder/nyk%C3%B8bing-m/51m2-2-vaer-id-5339392',
 'https://www.boligportal.dk/lejligheder/aarhus/66m2-2-vaer-id-4487809',
 'https://www.boligportal.dk/r%C3%A6kkehuse/aarhus/18m2-1-vaer-id-5376196']

In [56]:
# List of information we want to scarpe:
adress_list = []
monthly_rent_list = []
sqm_list = []
nr_rooms_list = []
property_type_list = []

# Loop through all the pages
for i in tqdm.tqdm(range(10)): #for i in tqdm.tqdm(range(len(final_urls))): kan brugs
    # Scraping
    url = final_urls[i]
    response = requests.get(url, headers={'name':'Jesper Højberg Knudsen','email':'fmw786@econ.ku.dk'})
    soup = BeautifulSoup(response.text, 'lxml')
    
    # Adress
    # Find the label "css-11fbmqw" within the section
    element = soup.find('span', class_='css-11fbmqw')
    if element:
        # Extract the corresponding value
        adress_element = element.find_next('div', class_='css-v49nss')

        if adress_element:
            # Extract the text content and add it to the list
            adress_list.append(adress_element.text.strip())
        else:
            adress_list.append('N/A') # Handle case if the value is not found

    else:
        adress_list.append('N/A') # Handle case if the label is not found


    # Monthly rent
    # Find the label "Månedlig leje" within the section
    label_element = soup.find('span', text='Månedlig leje', class_='css-arxwps')
    
    if label_element:
        # Extract the corresponding value
        monthly_rent_element = label_element.find_next('span', class_='css-1h46kg2')
        
        if monthly_rent_element:
            # Extract the text content and add it to the list
            monthly_rent_list.append(monthly_rent_element.text.strip())
        else:
            monthly_rent_list.append('N/A')  # Handle case if the value is not found
    else:
        monthly_rent_list.append('N/A')  # Handle case if the label is not found


    # Square meters

    # Number of rooms

    # Property type
    property_type_element = soup.find('span', class_='css-arxwps', text='Boligtype')
    if property_type_element:
        # Extract the corresponding value
        property_type = property_type_element.find_next('span', class_='css-1h46kg2')
        if property_type:
            property_type_list.append(property_type.text.strip())
        else:
            property_type_list.append('N/A')
    else:
        property_type_list.append('N/A')


    time.sleep(0.5) #Sleep for 0.5 seconds

  0%|          | 0/10 [00:00<?, ?it/s]

100%|██████████| 10/10 [00:08<00:00,  1.14it/s]

In [57]:
# Create a dataframe from adress_list and monthly_rent_list and property_type_list:
df = pd.DataFrame({'Adress': adress_list, 'Monthly rent': monthly_rent_list, 'Property type': property_type_list })

df.head(24)

,Adress,Monthly rent,Property type
0,"Cortex Park, 5230 Odense, Odense M - 5. sal",7.995 kr.,Lejlighed
1,"Frederiks Allé, 8000 Aarhus, Aarhus C - Stuen",6.700 kr.,Lejlighed
2,"Cortex Park, 5230 Odense, Odense M - 4. sal",7.995 kr.,Lejlighed
3,"Aaparken, 8300 Odder - 1. sal",7.500 kr.,Lejlighed
4,"Nyvej, 9500 Hobro - Stuen",3.700 kr.,Lejlighed
5,"Elementfabrikken, 2605 København, Brøndby - 2...","11.427,39 kr.",Lejlighed
6,"Kobbelvænget, 7100 Vejle",10.500 kr.,Rækkehus
7,"Teglvænget, 7400 Herning - Stuen",3.450 kr.,Lejlighed
8,"Callesensgade, 6200 Aabenraa - 1. sal",6.500 kr.,Lejlighed
9,"Kastetvej, 9000 Aalborg, Aalborg - 1. sal",3.000 kr.,Værelse